apiVersion: v1
kind: Service
metadata:
  name: app-be-service
spec:
  selector:
    app: app-be
  type: LoadBalancer # The normal type also does load balancing.
    # The only difference is that to get external ip i need to set it to this type.
  ports:
    - protocol: TCP
      port: 8000 # the port at which the requests come to the service
      targetPort: 8000 # port at which the request is sent to on the pod/container
      nodePort: 30001 # make it available to the external ip
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-be-deployment 
  # labels are matched to attach services to the pods and also attach pods to deployments
  labels:
    app: app-be
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app-be
  template:
    metadata:
      labels:
        app: app-be
    spec:
      containers:
      - name: app-be
        image: elessar1802/personal:latest
        ports:
        - containerPort: 8000 # the port of the container exposed to the pod. Should be equal to the targetPort of service in most cases
        env:
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secretmap }}
              key: jwtsecret
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: {{ .Values.configmap }}
              key: dbHost
        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              name: {{ .Values.configmap }}
              key: dbPort
